*{
    background-color: #AED9E0;
    top: 10px;
    padding: 0%;
    font-family: "Margarine", sans-serif;
}

.bg {
  background-color: #AED9E0 !important;

}

.quote{
  width: 60% !important;
}
.quote h1{
  margin: 0% !important;
}

.margarine-regular {
  top: 10px;
  font-family: "Margarine", sans-serif;
  font-size: calc(1px + 6vw);
  background-color: black;
  font-weight: 400;
  font-style: normal;
  color: #FFA69E;
  height: 90vh;
  display: flex;
  align-items: center;

}


.about{
  position: relative;
}


.name{
  position: relative;
}
.man{
  position: absolute;
  background-color: transparent;
  top: 10%;
  left: 3%;
  
}

.man2{
  position: absolute;
  background-color: transparent;
  top: 10%;
  left: 53%;
  
}

.navbar{
    padding: 0px 0px !important;
    font-size: large;
}

.insideCard{
  background-color: #9CD1D9 !important;
}

.exp-border{
  border: 0.1px solid black;
}

.exp{
  position: relative;
}

.task-img{
  position: absolute ;
  background-color: transparent;
  top: 50%;
  right: 36%;
}

.project{
  position: relative;
}

.lan-img{
  position: absolute ;
  background-color: transparent;
  top: -42%;
  right: 65%;
}
  
.dis-img{
  position: absolute ;
  background-color: transparent;
  top: -65%;
  right: 8%;
}
.btn-color{
  background-color: black !important;
  color: #AED9E0 !important;
}


@media (max-width : 992px){
  .dis-img{
    display: none;
  }
  .lan-img{
    display: none;
  }

  .me{
    width: 310px;
  }
  .margarine-regular {
    top: 10px;
    font-family: "Margarine", sans-serif;
    font-size: calc(1px + 6vw);
    background-color: black;
    font-weight: 400;
    font-style: normal;
    color: #FFA69E;
    height: 60vh;
    display: flex;
    align-items: center;
  
  }

  .name{
    font-size: 35px;
  }

  .man{
    /* position: absolute;
    background-color: transparent;
    top: 10%;
    left: 2%; */
    display: none;
    
    
  }
  
  .man2{
    position: absolute;
    background-color: transparent;
    top: 15%;
    right: 50%;
    display: none;
    
  }

}


@media (min-width : 993px) and (max-width : 1199px){
  .man{
    position: absolute;
    background-color: transparent;
    top: 10%;
    
  }
  
  .man2{
    position: absolute;
    background-color: transparent;
    top: 10%;
    left: 55%;
    
  }
  .lan-img{
    top: -41%;
  }
}

